{% extends "baseA.html" %}

{% block main %}
<h1>{{title}}</h1>
	<div class="sample">
	{% for x in musics %}
	{% if x.img!=None %}	
	<div class="artiste">
		<div class="col-xs-4 col-sm-3 col-md-3" id="test">
			<p>{{ x.title }}</p>
			<p> <a href=" {{ url_for('unAlbum', id=x.id) }}"> <img method="POST" id="img" src=" {{ url_for("static", filename="images/"+x['img']) }}"/> </a> </p>
		</div>
	</div>
  	{% endif %}
	{% endfor %}
	</div>
{% endblock %}




