{% extends "base.html" %}

{% block main %}
<h1>{{title}}</h1>

<div class="sample">
{% for x in artistes %}
	<table>
		<tr>
       		<td>
       			<p> <a href= "{{ url_for('infoArtistes', id=x.id) }} " > {{x.name}} </a></p>

       		</td>
       				
   		</tr>
	</table>
{% endfor %}
</div>

{% endblock %}



