{% extends "bootstrap/base.html" %}
{% block title %}{{title}}{% endblock %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css')}}"/>
{% endblock %}
{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
   <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Accueil</a></li>
            <li><a href=" {{ url_for('albums') }}">Albums</a></li>
            <li><a href=" {{ url_for('artistes') }}">Artistes</a></li>
            
            
            {% if current_user.is_authenticated() %}
            
            <li> <p id="bienvenue">Bienvenue</p> </li>
            <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
              {{ current_user.username }}
                  <span class="caret"></span></a>
                  
            <ul class="dropdown-menu" role="menu">
                <li>
                      <a href="{{ url_for('logout') }}">
              <span class="glyphicon glyphicon-log-out" title="Déconnexion">Deconnexion</span></a>

                </li>
            </ul>

            {% else %}
               <li><a href=" {{ url_for('login') }}">Connexion</a></li>

            {% endif %}

          </ul>

          <!-- <form id="recherche" class="form-inline pull-xs-right">
            <input class="form-control" type="text" placeholder="Recherche">
            <button class="btn btn-success-outline" type="submit">Recherche</button>
          </form> -->
        </div>
      </div>
    </nav>

{% endblock %}
{% block content %}

 <div id="main" class="container theme-showcase" role="main">
{% block main %}{%endblock %}
</div>
{% endblock %}

