{% extends "base.html" %}
{% block main %}
{% if music.title %}
<h1>Edition de {{music.title}}</h1>
{% else %}
<h1>Ajouter un album</h1>
{% endif %}
<form role='form' method='POST' 
	  action="{{ url_for('save_music') }}">
	{{ form.hidden_tag() }}
	<div class=
	 {% if form.title.errors %}
	 "form-group has-errors"
	 {% else %}
	"form-group"
	{% endif %}
	>
	{{ form.title.label }} 
	{{ form.title(size=50, class_="form-control") }}
	</div>
	
	{{ form.hidden_tag() }}
	<div class=
	 {% if form.releaseYear.errors %}
	 "form-group has-errors"
	 {% else %}
	"form-group"
	{% endif %}
	>
	{{ form.releaseYear.label }} 
	{{ form.releaseYear(size=50, class_="form-control") }}
	</div>
	{% if form.title.errors %}
	<ul class="list-group">
	{% for e in form.title.errors %}
	<li class="list-group-item list-group-item-danger">
		{{e}}
	</li>
	{% endfor %}
	</ul>
	{% endif %}
	
	
	<div class="form-group">
		<button type="submit" class="btn btn-default"> Valider
		</button>
	</div>
	
</form>
{% endblock %}
