{% extends "base.html" %}

{% block main %}
<h1>{{title}}</h1>
	<div class="sample">
	{% for x in musics %}
			<table>
   				<tr class="images">
       				<td> <a href=" {{ url_for('unAlbum', id=x.id) }}"> <img src={{ url_for("static", filename="images/"+x['img']) }}/> </a> </td>
       				<div class="information">
       					<td id="fond"> 
       						<p> Artiste : {{ x.artist.name }} </p>
       						<p> Titre : {{x['title']}} </p>
       						<p> Réalisation : {{x['releaseYear']}} </p>
       					 </td>
       				</div>
   				</tr>
			</table>
	{% endfor %}
	</div>
{% endblock %}


