{% extends "base.html" %}


{% block main %}
<h1>{{nomArtiste}}</h1>

<div class="sample">
{% for x in infoArtistes %}
	<table>
		<tr>
       		<td>
       			<p> <a href="{{ url_for('unAlbum', id=x.id) }}"> {{x.title}} - {{x.releaseYear}} </a> </p>

       		</td>
       				
   		</tr>
	</table>
{% endfor %}
</div>

{% endblock %}