{% extends "base.html" %}
{% block main %}
<form class="form-horizontal" role="form" method="POST" action="{{ url_for('login') }}">
	{{ form.hidden_tag() }}
	
	<div class="form-group">

		<label for="username" class="col-sm-1 control-label">
		{{ form.username.label }}</label>

		<div class="col-sm-4">
			{{ form.username(size=25, class_="form-control", placeholder="Username") }}
		</div>

	</div>

	<div class="form-group">

		<label for="password" class="col-sm-1 control-label">
		{{ form.password.label }}</label>

		<div class="col-sm-4">
			{{ form.password(size=25, class_="form-control", placeholder="Password") }}
		</div>

	</div>

	<div class="form-group">
		<div class="col-sm-offset-1 col-sm-4">
			<button type="submit" class="btn btn-default">Valider </button>
		</div>
	</div>

</form>
{% endblock %}
