{% extends "base.html" %}
{% block main %}
<h1>{{title}}</h1>
<div class="sample">
{% for x in livres.items %}
<img src="{{ url_for('static', filename='img/'+x.img) }}"/>
{% endfor %}
</div>

{% if livres.has_prev %}
<a href="{{ url_for('page', page=livres.prev_num, _external=false) }}">
<< Livres précédents</a>
{% else %}
<<  Livres précédents {% endif %} | 
{% if livres.has_next %}
<a href="{{ url_for('page',  page=livres.next_num, _external=false) }}"> livres suivants >></a>
{% else %}
livres  suivants >>
{% endif %}

{% endblock %}
</div>

