{% extends "base.html" %}

{% block main %}
<h1>{{album.artist.name}}</h1>

<div class="sample">

	<table>
		<tr>
       		<td>
            <p href=" {{ url_for('unAlbum', id=album.id) }}"> <img id="img" src="{{ url_for("static", filename="images/"+album.img) }}"/> </p>
       			<p> Titre : {{album.title}} </p>
       			<p> Réalisation : {{album.releaseYear}} </p>

       		</td>
       				
   		</tr>
	</table>
</div>
{% endblock %}
