
body{
	box-sizing: border-box;
    width: 100%;
    float: left;
    font-family: sans-serif;
  	background-attachment: fixed;
  	background-image:url(1.png);
}

img{
	width:200px;
	height:200px;
  	margin-bottom: 5%;
}

h1 { 
	color:#8B5A08;
    font-family: Cambria;
    margin-bottom: 2%;
}

a{
  color:black;
  font-family: Cambria;
  text-decoration: none;
}

p{
	font-family: Cambria;
}

#main {
	margin-top: 5%;  
}


div.sample{
	text-align: center;
	margin-left:0%;
}


.artiste {
	position: relative;
	top: 0;
	transition: all 0.3s ease-in;
}

.artiste:before {
	content: ' ';
	position: absolute;
	bottom: -1px; left: 0;
	width: 100%;
	height: 6px;
	border-radius: 90px/20px;
	z-index: -1;
}

#bienvenue {
	margin-top: 12%;
	color:darkorange;
	margin-right:18%;
  margin-left:20%;
}

#recherche{
  margin-top: 1%;
  float:right;
}