h1 { 
    color:#8B5A08;
    font-family: Cambria;
    margin-bottom: 2%;
}

.lienArtiste{
  color:#8B5A08;
}

body{
	font-family: sans-serif;
  background-attachment: fixed;
  background-image:url(2.png);
}


div.sample {
	text-align: center;
	margin-left: 0%;
	float:left;
}

#main {
	margin-top: 5%;  
}

.images {
	list-style-type:none;
}

.images img {
	width:200px;
	height:200px;
  margin-bottom: 5%;
}

#img{
  width:200px;
  height:200px;
  margin-bottom: 5%;

}

#bienvenue {
	margin-top: 12%;
	color:darkorange;
	margin-right:18%;
  margin-left:20%;
}

#recherche{
  margin-top: 1%;
  float:right;
}

.information {
  height:40px;
}


#fond{ 
 border-width:2px;
 border-style:solid; 
 border-color:black;
 width:250px;
 text-align: left;
 text-indent: 5%;
 }

a{
  color:black;
  font-family: Cambria;
  text-decoration: none;
}


/* overeffect */


.images {
  cursor: default;

}

.images .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 3em;
  text-align: left;
}

.images img {
  display: block;
  position: relative;
  max-width: none;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
  transition: opacity 0.35s, transform 0.45s;
  -webkit-transform: translate3d(-40px,0,0);
  transform: translate3d(-40px,0,0);
}

.images h2 {
  text-transform: uppercase;
  color: #fff;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  padding: 15% 0 10px 0;
  text-align: left;
}

.images .overlay:before {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  border: 1px solid #fff;
  content: '';
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
  transition: opacity 0.35s, transform 0.45s;
  -webkit-transform: translate3d(-20px,0,0);
  transform: translate3d(-20px,0,0);
}

.images a, .hovereffect p {
  color: #FFF;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
  transition: opacity 0.35s, transform 0.45s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
}

.images:hover img {
  opacity: 0.6;
  filter: alpha(opacity=60);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.images:hover .overlay:before,
.images:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

